@tailwind base;
@tailwind components;
@tailwind utilities; 
import '@fortawesome/fontawesome-free/css/all.min.css'
.text-textColor{
    --tw-text-opacity: 1;
    color: rgb(81 81 81 );

}

.hover-zoom {
    transition: transform 0.1s ease-in-out;
}
.hover-zoom:hover {
    transform: scale(1.2);
}

.viewButton{
  transition: transform 0.1s ease-in-out;
  transform: scale(1.1);
}

.bg-cardOverplay {
    background-color: hsla(0, 0%, 100%, .7);
}
.text-lighttextGray {--tw-text-opacity: 1;
color: rgb(156 160 171 / var(--tw-text-opacity));
}
.capitalize {
    text-transform: capitalize;
}
.bg-cartBg {
    --tw-bg-opacity: 1;
    background-color: rgb(40 42 44 / var(--tw-bg-opacity));
}
.bg-cartItem {
    --tw-bg-opacity: 1;
    background-color: rgb(46 48 51 / var(--tw-bg-opacity));
}
/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE và Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s ease-out forwards;
  }


  
 
  