@tailwind base;
@tailwind components;
@tailwind utilities; 

import '@fortawesome/fontawesome-free/css/all.min.css'
.text-textColor{
    --tw-text-opacity: 1;
    color: rgb(81 81 81 );

}

.hover-zoom {
    transition: transform 0.1s ease-in-out;
}
.hover-zoom:hover {
    transform: scale(1.2);
}

.viewButton{
  transition: transform 0.1s ease-in-out;
  transform: scale(1.1);
}

.bg-cardOverplay {
    background-color: hsla(0, 0%, 100%, .7);
}
.text-lighttextGray {--tw-text-opacity: 1;
color: rgb(156 160 171 / var(--tw-text-opacity));
}
.capitalize {
    text-transform: capitalize;
}
.bg-cartBg {
    --tw-bg-opacity: 1;
    background-color: rgb(40 42 44 / var(--tw-bg-opacity));
}
.bg-cartItem {
    --tw-bg-opacity: 1;
    background-color: rgb(46 48 51 / var(--tw-bg-opacity));
}
/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE và Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s ease-out forwards;
  }

.bike-animotion{
  @apply motion-scale-in-[0.5] motion-translate-x-in-[-120%] motion-translate-y-in-[-60%] motion-opacity-in-[33%] motion-rotate-in-[-1080deg] motion-blur-in-[10px] motion-delay-[0.38s]/scale motion-duration-[0.38s]/opacity motion-duration-[1.20s]/rotate motion-duration-[0.15s]/blur motion-delay-[0.60s]/blur motion-ease-spring-bouncier
}

.animotion-left-to-right{
  @apply motion-translate-x-in-[-169%] motion-translate-y-in-[0%] motion-duration-[3s]
}
  
.animotion-right-to-left{
  @apply motion-translate-x-in-[154%] motion-translate-y-in-[0%] motion-duration-[3s]
}
.animotion-top-to-bottom{
  @apply motion-translate-x-in-[-1%] motion-translate-y-in-[-118%] motion-duration-[2s]
}
.animotion-bottom-to-top{
  @apply motion-translate-x-in-[4%] motion-translate-y-in-[199%] motion-duration-[3s]
}
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

    }

}
@layer base {
  * {
    @apply border-border;

    }
  body {
    @apply bg-background text-foreground;

    }

}
 
  